/.ipynb_checkpoints
/.mypy_cache
/utilities/__pycache__
/utilities/.ipynb_checkpoints
/ams-tools-master
pipfile.lock
notes.txt
main2.py
main3.py
EmanueleBonura-AMS-test1.pem
.DS_Store
auth/token.pickle
data/logs.log
